* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-primary: #F4F5FB;
  --bg-secondary: white;
  /* cores da brand */
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;
  /* cores content */
  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: white;
  /* cores bordas*/
  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;

  /* fontes*/

  --fontfamily: inter, sans-serif;

  --title: 700 24px/32px var(fontfamily);
  --label: 600 16px/20px var(fontfamily);
  --paragraph: 400 26px/20px var(fontfamily);
  --link: 400 14px/16px var(fontfamily);


}


.flex {
  display: flex;
}

